<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" style= "background-color: rgb(49, 145, 200); font-size: large; font-family: cursive;">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <h2 style="font-family: fantasy;">Add Restaurant</h2>
    <div>
        <form action="/add_restaurant_form" method="POST">
            <div class="form-group" style="font-family: sans-serif;">
                <input type="number" id="id4" name="id4" class="form-control" placeholder="Enter user ID" required autofocus>
                <input type="text" id="restaurant_name1" name="restaurant_name1" class="form-control" placeholder="Enter New Restaurant Name" required autofocus>  
                <input type="submit" value = "Submit">
            </div>
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
