<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <h3>Add Restaurant</h3>
    <div>
        <form action="/add_restaurant_form" method="POST">
            <div class="form-group">
                <input type="number" id="id4" name="id3" class="form-control" placeholder="Enter user ID" required autofocus>
                <input type="text" id="restaurant_name1" name="restaurant_name1" class="form-control" placeholder="Enter New Restaurant Name" required autofocus>  
                <input type="submit" value = "Submit">
            </div>
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>