<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" style="background-color:rgb(0, 82, 235); font-size: large; font-family: cursive;" >

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <h2 style="font-family: fantasy;">Delete User</h2>
    <div>
        <form action="/delete_user_form" method="POST">
            <div class="form-group" style="font-family: sans-serif;">
                <input type="int" id="id3" name="id3" class="form-control" placeholder="Enter user ID to Delete" required autofocus> 
                <input type="submit" value = "Submit">
            </div>
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
