<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <p>Thank you! Your edit was sucessful!</p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>