<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    

    <h3>Modify User</h3>
    <div>
        <form action="/update_user_form" method="POST">
            <div class="form-group">
                <input type="number" id="user_id2" name="user_id2" class="form-control" placeholder="Enter your user ID" required autofocus> 
                <input type="text" id="first_name2" name="first_name2" class="form-control" placeholder="Enter your first name" required autofocus> 
                <input type="text" id="last_name2" name="last_name2" class="form-control" placeholder="Enter your last name" required autofocus> 
                <input type="submit" value = "Submit">
            </div>
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>