<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <h3>Modify Restaurant</h3>
    <div>
        <form action="/update_restaurant_form" method="POST">
            <div class="form-group">
                <input type="number" id="id5" name="id5" class="form-control" placeholder="Enter user ID" required autofocus> 
                <input type="text" id="restaurant_name2" name="restaurant_name2" class="form-control" placeholder="Enter Updated Restaurant Name" required autofocus>  
                <input type="submit" value = "Submit">
            </div>
        </form>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>